/* Main */
.main-wrapper {
    display: grid;
    margin-top: 30px;
}


.toblerone-container-img {
    text-align: center;
}

#wrapper-sb-slider {
    position: relative;
    margin-bottom: 20px;
}

.arrow {
	position: absolute;
	top: 50%;
	width: 2vmin;
	height: 2vmin;
	background: transparent;
	border-top: .3vmin solid white;
	border-right: .3vmin solid white;
	box-shadow: 0 0 0 lightgray;
	transition: all 200ms ease;
}

.arrow.left {
    left: 6px;
    transform: translate3d(0, -50%, 0) rotate(-135deg);
}
.arrow.right {
    right: 6px;
    transform: translate3d(0, -50%, 0) rotate(45deg);
}
.arrow:hover {
    border-color: #B4CBE5;
    box-shadow: 0.2vmin -0.2vmin 0 white;
}

.arrow:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -60%) rotate(45deg);
    width: 200%;
    height: 200%;
}

div.position-3\:4 {
    margin-left: 0;
}


/* SERVICIOS AL PÚBLICO */
.sevicios-container {
    background-color: #b4cbe5;
    text-align: center;
}

.sevicios-container.standard-topic h2 {
    color: #2d4f79;
    border-left: 0px;
}

.sevicios-container ul {
    padding-left: 0px;
}

.sevicios-container li a,
.sevicios-container li a:visited {
    color: #2d4f79;
    font-size: 18px;
    text-decoration: none;
}

.sevicios-container li a:hover {
    color: #2c786e;
}


/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: fixed;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }


@media (min-width: 768px) {
    .main-wrapper {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas:
            "a b c"
            "a b d"
            "a b d"
            "a b d";
        column-gap: 40px;
        justify-content: center;
    }

    .column2-container {
        grid-area: d;
    }

    .content-container {
        grid-area: b;
    }

    .column1-container {
        grid-area: a;
    }

    .toblerone-container {
        grid-area: c;
    }

    .toblerone-container h2 {
        margin-bottom: 26px;
    }

    .standard-topic {
        margin-top: 0px;
    }

    .sevicios-container {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .sevicios-container ul {
        display: flex;
        justify-content: space-evenly;
    }

}
