.full-width-wrapper {
    background-color: #B4CBE5;
    color: #2c4e78;
}
.full-width-wrapper2 {
    background-color: rgba(180, 203, 229,0.3);
}

.submenu-accions {
    display: flex;
    flex-direction: row-reverse;
}

.submenu-accions ul{
    list-style-type: none;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.submenu-accions ul li{
    display:  inline;
    padding-left: 1em;
}

.submenu-accions ul a{
    color: #2c4e78;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
}

.top-bar{
    display: flex;
    flex-wrap: wrap;
}

.logos-wrapper {
    min-width: 375px;
    margin-right: auto;
}

.logos-wrapper img {
    margin: 10px 5px;
}

.user_info {
    display: flex;
}


/* demo banner */
.Banner {
    box-sizing: border-box;
    border: 1px solid #54aeff66;
    display: grid;
    grid-auto-flow: column;
    grid-template-areas: "visual message";
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content;
    padding: 0.5rem;
    position: relative;
}

.Banner.Banner--warning {
    background-image: linear-gradient(#fff8c5, #fff8c5);
    border-color: #d4a72c66;
    color: #1f2328;
}

.Banner.Banner--full {
    border-left: 0;
    border-radius: 0;
    border-right: 0;
    border-top: 1px;
    border-bottom: 1px;
    margin-top: -1px;
}


.Banner .Banner-visual {
    align-self: start;
    box-sizing: border-box;
    display: grid;
    grid-area: visual;
    padding: .375rem 0.5rem;
}

.Banner.Banner--warning .Banner-visual .octicon {
    color: #9a6700;
}

.octicon {
    display: inline-block;
    overflow: visible !important;
    fill: currentColor;
} 

.Banner-message p{
    margin-top: 2px;
    margin-bottom: 2px;
    line-height: 1.5;
    font-family: Helvetica,Arial,sans-serif;
    color: #9a6700;
}

.Banner .Banner-message {
    align-self: center;
    grid-area: message;
}

.Banner-message .infomatem {
    font-style: italic;
}