/* Main */
.main-wrapper {
    display: grid;
    margin-top: 30px;
}


.toblerone-container-img {
    text-align: center;
}

#wrapper-sb-slider {
    position: relative;
    margin-bottom: 20px;
}

.arrow {
	position: absolute;
	top: 50%;
	width: 2vmin;
	height: 2vmin;
	background: transparent;
	border-top: .3vmin solid white;
	border-right: .3vmin solid white;
	box-shadow: 0 0 0 lightgray;
	transition: all 200ms ease;
}

.arrow.left {
    left: 6px;
    transform: translate3d(0, -50%, 0) rotate(-135deg);
}
.arrow.right {
    right: 6px;
    transform: translate3d(0, -50%, 0) rotate(45deg);
}
.arrow:hover {
    border-color: #B4CBE5;
    box-shadow: 0.2vmin -0.2vmin 0 white;
}

.arrow:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -60%) rotate(45deg);
    width: 200%;
    height: 200%;
}

div.position-3\:4 {
    margin-left: 0;
}

@media (min-width: 768px) {
    .main-wrapper {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas:
            "a b c"
            "a b d"
            "a b d"
            "a b d";
        column-gap: 40px;
        justify-content: center;
    }

    .column2-container {
        grid-area: d;
    }

    .content-container {
        grid-area: b;
    }

    .column1-container {
        grid-area: a;
    }

    .toblerone-container {
        grid-area: c;
    }

    .toblerone-container h2 {
        margin-bottom: 26px;
    }

    .standard-topic {
        margin-top: 0px;
    }

    .sevicios-container {
        padding-top: 10px;
    }
}
